body {
	background-color: black;
}

.container {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

#header {
	background-color: silver;
	position: fixed;
	height: 34px;
	width: 100%;
	margin-bottom: 8px;
	margin-left: 8px;
	padding: 8px;
	overflow: scroll;
}

#header > img {
	border: 1px solid black;
	height: 27px;
	width: 27px;
	margin: 0px 10px 0px 10px;
	padding: 3px;
}

.dis {
	display: none;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.enab:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	cursor: pointer;
}

#content {
	position: fixed;
	top: 66px;
}

#rbank {
	padding: 8px;
	background-color: silver;
	background-clip: content-box;
	height: 100%;
	float: left;
}

#editor {
	padding: 8px;
	float: right;
}

#code {
	height: 100%;
	width: 100%;
	font-size: 1em;
	resize: none;
	overflow: scroll;
	line-height: 125%;
	float: right;
	margin-right: 8px;
}

#encode {
	float: left;
}

.error {
	background-color: red;
}

.changed {
	color: red;
}

.col1 {
	font-weight: 500;
	width: 25%;
	border: 1px solid black;
}

.col2 {
	letter-spacing: 2px;
	font-weight: 500;
	width: 75%;
	border: 2px solid black;
	overflow: scroll;
}

#cpsr td {
	width: 25%;
}

.r1 > td {
	border: 2px solid black;
}

.r2 > td {
	border: 2px solid black;
}

table, tr {
	height: 100%;
	width: 100%;
	padding: 0;
}

td {
	text-align: center;
	overflow: scroll;
	overflow-x: scroll;
	overflow-y: scroll;
}

#memory {
	padding: 8px;
	position: fixed;
	bottom: 8px;
	background-color: silver;
	background-clip: content-box;
	overflow: scroll;
}

.dcol1 {
	width: 20%;
	border: 1px solid black;
}

.dcol2 {
	width: 80%;
	max-height: 20px;
	max-width: 100%;
	height: 20px;
	overflow: scroll;
	border: 1px solid black;
}

.memdata {
	height: 20px;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
}

#headerhelper {
	padding: 2px;
}